<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.shopping.mapper.MemberMapper">
	<select id="selectMemberInfo" resultType="MemberVO">
		SELECT *
		  FROM member
		 WHERE mem_id = #{ userID }
	</select>

	<select id="checkMember" resultType="Integer">
		SELECT IFNULL(COUNT(1), 0)
		  FROM member
		 WHERE mem_id = #{ userID }
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO member
		(mem_id, mem_pw, mem_email, reg_Date, mem_name, mem_gen, role)
		VALUES 
		(#{memId}, #{memPw}, #{memEmail}, now(), #{memName}, #{memGen}, #{role})
	</insert>
	
	<update id="updateMember" parameterType="MemberVO">
		UPDATE member
		   SET   mem_id = #{memId}
		       , mem_pw = #{memPw}
		       , mem_email = #{memEmail}
		       , ch_date = now()
		       , mem_name = #{memName}
		       , mem_gen = #{memGen}
		 WHERE mem_id = #{memId}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE member
		   SET del_yn = 'Y',
		   	   del_time = now(),
		   	   role = 'RETIRE'
		  WHERE mem_id = #{userID}
	</update>
	
	<update id="updateRecoveryMember" parameterType="string">
		UPDATE  member
		   SET  del_yn = 'N'
		      , del_time = NULL
		      , role = 'USER'
		 WHERE mem_id = #{userID}
	</update>
</mapper>