<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  

<mapper namespace="co.kr.shopping.mapper.MemberMapper">
	<select id="selectMemberInfo" resultType="co.kr.shopping.vo.MemberVO">
		SELECT *
		  FROM member
		 WHERE mem_id = #{ userID }
	</select>
	
	<insert id="insertMember" parameterType="co.kr.shopping.vo.MemberVO">
		INSERT INTO member
		(mem_id, mem_pw, mem_email, reg_Date, mem_name, mem_gen, role, ch_id)
		VALUES 
		(#{memId}, #{memPw}, #{memEmail}, now(), #{memName}, #{memGen}, #{role}, #{chId})
	</insert>
	
	<update id="updateMember" parameterType="co.kr.shopping.vo.MemberVO">
		UPDATE member
		   SET   mem_id = #{memId}
		       , mem_pw = #{memPw}
		       , mem_email = #{memEmail}
		       , ch_date = now()
		       , mem_name = #{memName}
		       , mem_gen = #{memGen}
		       , ch_id = #{chId}
		 WHERE mem_id = #{memId}
	</update>
</mapper>