<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.shopping.mapper.ProductMapper">
	<select id="selectProductList" resultType="ProductVO">
		SELECT *
		  FROM product 
		<if test="keyword neq null or keyword neq ''">  
		 WHERE product_name LIKE CONCAT('%', #{keyword} ,'%')
		   OR  product_regDate LIKE CONCAT('%', #{keyword}, '%')
		   OR  product_price LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY product_Id ASC, product_regDate DESC
		LIMIT #{paging.firstRecordOnPage}, #{paging.recordCountPerPage}
	</select>
	
	<insert id="insertProduct" parameterType="ProductVO">
		INSERT INTO product (
		    product_Id
		  , product_name
		  , product_intro
		  , product_price
		  , product_regDate
		  , file_seq
		) 
		VALUES ( 
		  #{productId}
		, #{productName}
		, #{productIntro}
		, #{productPrice}
		, now()
		, #{fileSeq}
		)
	</insert>
	
	<select id="selectProductDetail" resultType="ProductVO">
		SELECT   A.product_id
			   , A.product_name
			   , A.product_intro
			   , A.product_price
			   , A.product_regDate
		  FROM   product A
		       , files B
		       , category C 
		 WHERE 1=1 
		   AND A.product_id = #{product_id}
		   AND A.file_seq = B.file_seq
		   AND A.product_id = C.category_id
	</select>
	
</mapper>