<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.shopping.mapper.ReviewMapper">
  <select id="selectReviewList" resultType="co.kr.shopping.vo.ReviewVO">
  	 SELECT   review_no
  	        , review_title
  	        , review_writer
  	        , review_write_date
  	        , review_product_Id
  	        , view_count
  	 FROM   review
  	 <if test="option != null or option != ''">
  	  <if test="option eq 'All'">
  	  WHERE 
  	      review_title LIKE CONCAT('%', #{keyword},'%')
  	      OR review_writer LIKE CONCAT('%', #{keyword},'%')
  	      OR review_write_date LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'title'">
  	  WHERE
  	  	review_title LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'writer'">
  	  WHERE
  	  	review_writer LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'regDate'">
  	  WHERE
  	  	review_write_date LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	 </if>
  	 ORDER BY review_no
  	 LIMIT #{paging.firstRecordOnPage}, #{paging.recordCountPerPage}
  </select>
  
  <select id="selectReviewDetail" resultType="map">
    SELECT   A.review_title
  		   , A.review_writer
  		   , A.review_content
  		   , A.view_count
  		   , DATE_FORMAT(A.review_write_date, "%Y-%m-%d %H:%i:%s") AS regDate
  		   , A.review_product_Id
  		   , A.review_lock
  		   , C.product_name
  	  FROM  review  A
  	      , member  B
  	      , product C
  	 WHERE A.review_no = #{ reviewNo }
  	   AND A.review_writer = B.mem_id
  	   AND A.review_product_Id = C.product_Id
  	 GROUP BY A.review_no   
  </select>
  
  <select id="likeCount" resultType="Integer">
  	 SELECT NVL(SUM(like_check), 0) AS like_count
  	   FROM like_content
 	  WHERE review_no = #{ reviewNo } 
  </select>
  
  <select id="findlikeEx" resultType="Integer">
  	SELECT COUNT(1)
	  FROM like_content
	 WHERE review_no = #{review_no}
  	   AND mem_no = #{mem_no}
  </select>
  
  <select id="likeCheck" resultType="Integer">
  	SELECT IFNULL(MAX(like_check), 0) AS like_check
  	  FROM like_content
  	 WHERE review_no = #{review_no}
  	   AND mem_no = #{mem_no}
  </select>
  
  <insert id="insertReview" parameterType="co.kr.shopping.vo.ReviewVO">
  	INSERT INTO review
	(review_title, review_writer, review_write_date, review_content, review_product_Id, review_ch_date 
	 <if test="reviewLock != null">
	   , review_lock
	 </if>
	)
  	VALUES 
  	(
  	  #{reviewTitle}, #{reviewWriter}, now(), #{reviewContents}, #{reviewProductId}, now()
  	 <if test="reviewLock != null">
  	  , #{reviewLock}
  	 </if>
  	)
  </insert>
  
  <update id="updateReview" parameterType="co.kr.shopping.vo.ReviewVO">
  	UPDATE review
  	   SET review_title = #{reviewTitle},
  	       review_writer = #{reviewWriter},
  	       review_content = #{reviewContents},
  	       review_product_Id = #{reviewProductId},
  	  	   review_lock = #{reviewLock},
  	       review_ch_date = now()
  	 WHERE review_no = #{reviewNo}
  </update>
  
  <insert id="insertReviewLike" parameterType="map">
   	INSERT INTO like_content(like_check, mem_no, review_no)
   	VALUES(#{like_switch}, #{mem_no}, #{review_no})
  </insert>
  
  <update id="updateReviewLike" parameterType="map">
  	UPDATE like_content
  	  SET  like_check = #{like_switch}
  	 WHERE like_Id = (
  	 				  SELECT like_Id 
				  	  FROM like_content
				  	  WHERE review_no = #{review_no}
				  	    AND mem_no = #{mem_no}
				  	  )
  </update>
  
  <update id="updateViewCount" parameterType="String">
	UPDATE review
	   SET view_count = view_count+1
	 WHERE review_no = #{reviewNo}
  </update>
  
  <select id="totalReviewCount" resultType="integer">
  	SELECT COUNT(1)
  	  FROM review
  	<if test="option != null or option != ''">
  	  <if test="option eq 'All'">
  	  WHERE 
  	      review_title LIKE CONCAT('%', #{keyword},'%')
  	      OR review_writer LIKE CONCAT('%', #{keyword},'%')
  	      OR review_write_date LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'title'">
  	  WHERE
  	  	review_title LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'writer'">
  	  WHERE
  	  	review_writer LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'regDate'">
  	  WHERE
  	  	review_write_date LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	 </if>
  </select>
  
  
</mapper>