<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  

<mapper namespace="co.kr.shopping.mapper.ReviewMapper">
  <select id="selectReviewList" resultType="co.kr.shopping.vo.ReviewVO">
  	 SELECT   review_no
  	        , review_title
  	        , review_writer
  	        , review_write_date
  	        , review_product_Id
  	 FROM   review
  	 <if test="option != null or option != ''">
  	  <if test="option eq 'All'">
  	  WHERE 
  	      review_title LIKE CONCAT('%', #{keyword},'%')
  	      OR review_writer LIKE CONCAT('%', #{keyword},'%')
  	      OR review_write_date LIKE ('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'title'">
  	  WHERE
  	  	review_title LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'writer'">
  	  WHERE
  	  	review_writer LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'regDate'">
  	  WHERE
  	  	review_write_date LIKE ('%', #{keyword},'%')
  	  </if>
  	 </if>
  	 ORDER BY review_no
  	 LIMIT #{paging.firstRecordOnPage}, #{paging.recordCountPerPage}
  </select>
  
  <select id="selectReviewDetail" resultType="map">
  	SELECT   A.review_title
  		   , A.review_writer
  		   , A.review_content
  		   , A.review_lock
  		   , DATE_FORMAT(A.review_write_date, "%Y-%m-%d %H:%i:%s") AS regDate
  		   , A.review_product_Id
  		   , B.like_count
  		   , B.view_count
  	  FROM  review  A
  	      , content B
  	      , member  C
  	 WHERE A.review_no = #{ reviewNo }
  	   AND A.review_writer = C.mem_id  
  </select>
  
  <select id="totalReviewCount" resultType="integer">
  	SELECT COUNT(1)
  	  FROM review
  	<if test="option != null or option != ''">
  	  <if test="option eq 'All'">
  	  WHERE 
  	      review_title LIKE CONCAT('%', #{keyword},'%')
  	      OR review_writer LIKE CONCAT('%', #{keyword},'%')
  	      OR review_write_date LIKE ('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'title'">
  	  WHERE
  	  	review_title LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'writer'">
  	  WHERE
  	  	review_writer LIKE CONCAT('%', #{keyword},'%')
  	  </if>
  	  <if test="option eq 'regDate'">
  	  WHERE
  	  	review_write_date LIKE ('%', #{keyword},'%')
  	  </if>
  	 </if>
  </select>
  
  <update id="mergeView" parameterType="string">
  	INSERT INTO content( view_count ) 
  	VALUES ()
  </update>
  
</mapper>