<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  

<mapper namespace="co.kr.shopping.mapper.ReviewMapper">
  <select id="selectReviewList" resultType="co.kr.shopping.vo.ReviewVO">
  	 SELECT   review_no
  	        , review_title
  	        , review_writer
  	        , review_write_date
  	        , review_product_Id
  	 FROM   review
  	 ORDER BY review_no
  	 LIMIT #{paging.lastPageOnIndex} OFFSET #{paging.firstPageOnIndex} 
  	<if test="keyword != null">
  	 AND review_title like CONCAT('%', #{keyword},'%')
  	</if>
  </select>
  
  <select id="selectReviewDetail" resultType="map">
  	SELECT   A.review_title
  		   , A.review_writer
  		   , A.review_content
  		   , A.review_lock
  		   , A.review_write_date
  		   , A.review_product_Id
  	  FROM  review  A
  	      , content B
  	      , member  C
  	 WHERE A.review_no = #{ No }
  	   AND A.review_writer = C.member_id  
  </select>
  
  <select id="totalReviewCount" resultType="integer">
  	SELECT COUNT(1)
  	  FROM review
  	<if test="keyword != null">
  	 WHERE  review_title like CONCAT('%', #{keyword},'%')
  	</if>
  </select>
  
</mapper>